<html>
<head>
    <link rel="stylesheet" href="/css/fridge.css" />
</head>
<body>
    <header>
        <a href="/">All notes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/noteForm">New Note</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/deleteform">Delete Notes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </header>
    {{{body}}}

    </body>
    </html>
