!DOCTYPE html>
<html>
<head>
	<title>Notes
    </title>
</head>
<body>
    <table>
        
         {{# each item}}
        <tr>
        <td>{{this.title}}</td>
        <td>{{this.author}}</td>
        <td>{{this.content}}</td>
        </tr>
        {{/each
        }}
    </table>
   
    

</body>
</html>